<nav class="navbar">
    <div class="prymus-logo">
        <img src="/images/prymus.png" alt="prymus-logo" class="logo" width="250px">
    </div>

    <div>

    <a href="" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>

    </div>

    <div class="navbar-links">
        <ul>
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="/webdesignanddevelopment">WEB-APP DeVELOPMENT</a>
        </li>
        <li>
            <a href="/seo">CONTENT MARKETING</a>
        </li>
        <li>
            <a href="/smo">DIGITAL MARKETING</a>
        </li>

        <li>
            <a href="/blogs">BLOG</a>
        </li>
        <li>
            <a href="/connect-with-us" class="connect">Connect-Us</a>
        </li>

    </ul>
    </div>

    
    
</nav>