<nav class="navbar">
    <div class="prymus-logo">
        <img src="/images/prymus.png" alt="prymus-logo" class="logo" width="320px">
    </div>

    <div>

    <a href="" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>

    </div>

    <div class="navbar-links">
        <ul>
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="/webdesignanddevelopment">WEB</a>
        </li>
        <li>
            <a href="/seo">SEO</a>
        </li>
        <li>
            <a href="/smo">SMO</a>
        </li>

        <!-- <li>
            <a href="/blogs">BLOG</a>
        </li> -->

        <li>
            <a href="#" class="item chat-header">CHAT US</a>
        </li>

        <li>
            <a href="/myaccount">My Account</a>
        </li>
        <li>
            <form action="/logout" method="POST">
                <input type="submit" value="Logout" class="logout">
            </form>
        </li>

    </ul>
    </div>

    
    
</nav>