<div class="footer-container">
    <div class="footer-part-one">
        <p>Copyright © 2020 Prymus Brandcom India Pvt. Ltd. All rights reserved.</p>
    </div>
    <ul class="footer-part-two">
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="https://goo.gl/maps/bDXZhFYsBrzbCF5f6">Visit Us here!</a></li>
    </ul>
</div>