<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">
    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="/css/header_updated_n.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">
    

    <title>PRYMUS</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>

</head>
<body>
    

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>


<!-- main-container -->
        <div class="container-one" id="home">
            <div class="main-heading">
                <div class="heading-main"><h1>We partner with big dreams to manifest real big <span></span></h1></div> 
                <div class="service-btns">
                    <div class="services-btn"> <a href="/campaignregister" class="item connect-btn campaign-register">Customize a digital plan</a> </div>
                    <div class="services-btn"> <a href="/affiliate-register" class="item connect-btn affiliate-register">Join affiliate-program</a> </div>
                </div>
                
            </div>
            <div class="image-container">
                <div class="img1-cover"><img src="./images/Prymus Brandcom India Private Limited paid Advertisement.png" alt="" class="img1 show-on-scroll_2"></div>
                <!-- <div class="img2-cover"><img src="./images/p2.png" alt="" class="img2 show-on-scroll_3"></div> -->
            </div>
            
            
        </div>
    

    <div class="container-2" id="about">
        <div class="h1-container show-on-scroll">
            <h1 class="h1-heading">We</h1>
        </div>
        <div class="paragraph-container">
            <br><p>Prymus is a team of data-addicted geeks.</p>
            <p>We nerds of Prymus believe in building real-time data driven strategies and hi-tech technologies.</p><br>
            <p>We work on our strategies which talk, listen, hear and eat data. We don’t believe in day dreaming when it comes to <span>MEANINGFUL Digital- Brand Building strategies</span>.</p>
            <br>
            <p>When building applications we make it our priority to satisfy customers with glitch free interfaces. Not only we code beautiful software but we keep our codes well documented for further chaos minus improvements. In short you have arrived at the right place.</p>
            <p></p>
            <p></p><br>
            <!-- <p class="big">Welcome aboard!</p> -->
        </div>
    </div>

    <div class="triangle"><p>Welcome aboard!</p></div>

    <div class="container-3">
        <h1>our toppings</h1>
        <h2>We implement the full funnel growth.</h2>
        <h3 class="awareness">awareness</h3>
        <h3 class="aquisition">aquisition</h3>
        <h3 class="activation">activation</h3>
        <h3 class="retention">retention</h3>
        <h3 class="revenue">revenue</h3>
        <h3 class="referral">referral</h3>
    </div>

    <div class="container-4">
        <div class="para-container">
            <p>Analyzing the behavior characteristics and the
                possible head counts to hit effectively, we
                strategies and implement our strategies.
            </p>
            <p>
                Doing half baked strategies is not our cup of
                tea. So, you can be rest assured that you
                won’t be left in between.
            </p>
            <p>
                And the trick to know that, is to learn to see
                the repeating visitors, new customer base and
                conversion rate.
            </p>

            <p class="special">
                We <span>sweat, bleed </span>and <span>work </span>to achieve our set targets.
            </p>

            <p>
                We keen on doing our A/B testing until unless we are there!
                Because our customers worth it!
            </p>
            <p style="margin-left: -5%;">
                
            </p>
        </div>

        <div class="side-container">
            <h1>why us?</h1>
        </div>
    </div>

    

    <!-- -------next----------- -->

    <div class="connect-with-us">
        <a href="#contact-us">Connect With Us</a>
    </div>

    <!-- -------next----------- -->

    <!-- ----------why-us part-2----------- -->

    <div class="container-5">
        <div class="image-container">
            <img src="/images/ideas.png" alt="" class="conatiner-5_image show-on-scroll_4">
        </div>
        <div class="data-container">
            <h1>Customize your digital plan</h1>
            <ul class="items">
                <li>You have a limited budget?</li>
                <li>You want to shoot your ads on selected social media platforms?</li>
                <li>You have failed to run revenue generating ads?</li>
            </ul>
        </div>
    </div>


    <div class="contact-us" id="contact-us">

        <h1>Reach Us Here!</h1>
        <div class="form-container">

        <form action="#" action="post" class="contact-form">
            
            <input type="text" name="name" class="i-name" placeholder="Name">
            <input type="text" name="phone" class="i-phone" placeholder="Phone No.">
            <input type="email" name="email" class="i-email" placeholder="Email">
            <textarea name="subject" id="subject" cols="30" rows="10" placeholder="Subject..."></textarea>
            <input type="submit" name="submit" value="Submit!">

        </form>

    </div>
    </div>


    <!-- -------next----------- -->

    <%- include('footer.ejs') %>

    <% if (user) { %>
        <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
        <script src="/socket.io/socket.io.js"></script>
    <% } %>

<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_n.js"></script>
    
</body>
</html>