<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/css/header_updated_n.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/seo.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/footer.css">

    <title>PRYMUS</title>

     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <div class="header-main">
            <%- include ('includes/header_updated_n.ejs') %>
        </div>     
    
    <% } %>


<!-- container-1 -->
<div class="seo-container-1">
    <div class="data-container">
        <h1>
            60% of marketers say that inbound (SEO, blog content, etc.) is their highest quality source of <span></span>

        </h1>
    </div>
    <div class="image-container">
        <img src="/images/Picture111.png" alt="">
    </div>
</div>

<!-- triangle -->
<div class="seo-triangle-container">
<div class="seo-triangle">
    <h1>how we work?</h1>
</div>
</div>

<!-- container-2 -->

<div class="seo-container-2">
    <div class="seo-timeline">
        <div class="seo-timeline-sub">
            <div class="seo-timeline-header">
                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Establish a blog</span> </h1>
            </div>
            <div class="seo-timeline-paragraph">
                <div class="para-color">Blogs have been rated as the 5th most trusted source for accurate online information. (source)
                </div>
                <div class="para-white">In the early days of inbound marketing, blogs weren't taken very seriously. However, after 2016, they are being viewed as one of the most valuable and credible sources of information and generating potential leads. 
                </div>
            </div>
        </div>
        

        <div class="seo-timeline-sub">
            <div class="seo-timeline-header">
                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Create Keywords rich content plan</h1>
            </div>
            <div class="seo-timeline-paragraph">
                <div class="para-color">Just over half (51%) of business owners report that content management is “very important” or “absolutely critical” to creating a cohesive buyer journey. (source)

                </div>
                <div class="para-white">The buyer journey should feel like a natural progression for your leads, but creating that experience requires purposeful planning and mapping of your blog and premium content.
 
                </div>
            </div>
        </div>


        <div class="seo-timeline-sub">
            <div class="seo-timeline-header">
                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Publish content creating backlinks</h1>
            </div>
            <div class="seo-timeline-paragraph">
                <div class="para-color">Companies who blog receive 97% more links to their website. (source)

                </div>
                <div class="para-white">Every time an authoritative website links to a blog post (or any page) your entire website reaps the SEO benefits. Attracting links is much easier with high-quality, engaging blog content. 
 
                </div>
            </div>
        </div>



        <div class="seo-timeline-sub">
            <div class="seo-timeline-header">
                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Analyze the traffic behavior pattern</h1>
            </div>
            <div class="seo-timeline-paragraph">
                <div class="para-color">Companies who integrate analytics with their blog, improved customer acquisition and retention via 46%.

                </div>
                <div class="para-white">Analyzing the traffic as per the AARRR method, comes very handy and effective in conceptualizing the content plan to acquire more traffic.
 
                </div>
            </div>
        </div>



        <div class="seo-timeline-sub">
            <div class="seo-timeline-header">
                <h1 style="margin-left: 4rem;">5. <span style="margin-left: 8rem;"></span> Integrate C-T-A strategy to generate leads</h1>
            </div>
            <div class="seo-timeline-paragraph">
                <div class="para-color">SEO leads have a 14.6% close rate.

                </div>
                <div class="para-white">Amalgamation of push notification and call-to-action on the published blogs can enables brand to acquire market space as trusted brands.

                </div>
            </div>
        </div>


        
 
 
    </div>
</div>


<!-- triangle -->

    <div class="seo-triangle" style="background: #000">
        <h1></h1>
    </div>




<!-- conatiner-3 -->

<div class="seo-container-3">
    <!-- <div class="seo-recent-stories section-30">
        <div><h1>our recent stories.</h1></div>
        <div><p>Discover industry insights and case studies on successful product development, powerful growth marketing tactics, and effective engineering solutions.</p></div>
        <div><a href="#">More Insights</a></div>
    </div>
    <div class="seo-insights-1 section-30">
        <div><img src="" alt=""></div>
        <div><p>Insights</p></div>
        <div><h3>9 Successful PWA Examples That May Inspire you</h3></div>
    </div>
    <div class="seo-insights-2 section-30">
        <div><img src="" alt=""></div>
        <div><p>Insights</p></div>
        <div><h3>Flutter: 6 Key Questions Answered</h3></div>
    </div> -->
</div>

<!-- container-4 -->
<div class="seo-container-4">
    <div class="seo-image-container">
        <img src="/images/Picture111111.png" alt="">
    </div>
    <div class="seo-connect-us">
        <h1>ready to generate some real sale?</h1>
        <a href="/connect-with-us">Connect-Us</a>
    </div>
</div>

<!-- footer -->


<%- include('footer.ejs') %>
<% if (user) { %>
    <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
    <script src="/socket.io/socket.io.js"></script>
<% } %>

<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>
<script src="/js/header_updated_n.js"></script>

</body>