<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    

    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/css/header_updated_n.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/smo.css">
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/footer.css">

    <title>PRYMUS</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <div class="header-main">
            <%- include ('includes/header_updated_n.ejs') %>
        </div>     
    
    <% } %>
<!-- container-1 -->
<div class="smo-container-1">
    <div class="data-container">
        <h1>
            50% of the global population is using social media: that’s 3.8 billion people (an increase of 9.2% since 2019)


        </h1>
    </div>
    <div class="image-container">
        <img src="/images/Picture1tuuy988o.png" alt="">
    </div>
</div>

<!-- triangle -->
<div class="smo-triangle-container">
<div class="smo-triangle">
    <h1>how we work?</h1>
</div>
</div>

<!-- container-2 -->

<div class="smo-container-2">
    <div class="smo-timeline">
        <div class="smo-timeline-sub">
            <div class="smo-timeline-header">
                <h1 style="margin-left: 4rem;"> <span style="margin-left: 8rem;"></span> 1. Plan attention capturing SMO</h1>
            </div>
            <div class="smo-timeline-paragraph">
                <div class="para-color">Every day, Facebook users like an average of 4.5 billion posts, share more than 4.7 billion status updates with their friends or followers, and watch over 1 billion videos.

                </div>
                <div class="para-white">But, we know, if not carefully planned, your posts can be suppressed by the social media sites just to push more engaging content up on their timelines to keep their user interested.
                </div>
            </div>
        </div>
        

        <div class="smo-timeline-sub">
            <div class="smo-timeline-header">
                <h1 style="margin-left: 4rem;"> <span style="margin-left: 8rem;"></span> 2. Segregate plan as per the audience quality.</h1>
            </div>
            <div class="smo-timeline-paragraph">
                <div class="para-color">The average social media user has 8.3 different social accounts.This number lifts to 9.4 social accounts for people aged 16-24
                    

                </div>
                <div class="para-white">It is very necessary to not publish same content on all the accounts. As the users of LinkedIn might not respond in same mood as the users of Instagram if same message is shown to both the groups.

 
                </div>
            </div>
        </div>


        <div class="smo-timeline-sub">
            <div class="smo-timeline-header">
                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Run A/B tested ads</h1>
            </div>
            <div class="smo-timeline-paragraph">
                <div class="para-color">43% of internet users use social media when researching things to buy and work purposes
                    P

                </div>
                <div class="para-white">Purpose oriented audience can be very easy to reach via social media and convert leads on a fast pace with right messaging.
 
                </div>
            </div>
        </div>



        <div class="smo-timeline-sub">
            <div class="smo-timeline-header">
                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Analyze the 1st hour success formula</h1>
            </div>
            <div class="smo-timeline-paragraph">
                <div class="para-color">In a general survey of over 250 consumers, 70% said they watched Facebook Stories more often than Instagram or Snapchat Stories


                </div>
                <div class="para-white">The most important thing is to run your strategy for 1 month and then analyze complete strategy and response of audience in metrics.

 
                </div>
            </div>
        </div>



        <div class="smo-timeline-sub">
            <div class="smo-timeline-header">
                <h1 style="margin-left: 4rem;">5. <span style="margin-left: 8rem;"></span> Integrate C-T-A strategy to generate leads
                </h1>
            </div>
            <div class="smo-timeline-paragraph">
                <div class="para-color">Shopify users referred by Pinterest spend an average of $80 compared to the Facebook referral average of $40.

                </div>
                <div class="para-white">An important factor of SMO is getting people to follow up the right path to the designed landing page and convert sales.


                </div>
            </div>
        </div>


        
 
 
    </div>
</div>


<!-- triangle -->

    <div class="smo-triangle" style="background: #000">
        <h1></h1>
    </div>




<!-- conatiner-3 -->

<div class="smo-container-3">
    <!-- <div class="smo-recent-stories section-30">
        <div><h1>our recent stories.</h1></div>
        <div><p>Discover industry insights and case studies on successful product development, powerful growth marketing tactics, and effective engineering solutions.</p></div>
        <div><a href="#">More Insights</a></div>
    </div>
    <div class="smo-insights-1 section-30">
        <div><img src="" alt=""></div>
        <div><p>Insights</p></div>
        <div><h3>9 Successful PWA Examples That May Inspire you</h3></div>
    </div>
    <div class="smo-insights-2 section-30">
        <div><img src="" alt=""></div>
        <div><p>Insights</p></div>
        <div><h3>Flutter: 6 Key Questions Answered</h3></div> -->
    </div>
</div>

<!-- container-4 -->
<div class="smo-container-4">
    <div class="smo-image-container">
        <img src="/images/Picture111111.png" alt="">
    </div>
    <div class="smo-connect-us">
        <h1>ready to generate some real sale?</h1>
        <a href="/connect-with-us">Connect-Us</a>
    </div>
</div>

<!-- footer -->


<%- include('footer.ejs') %>

<% if (user) { %>
    <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
    <script src="/socket.io/socket.io.js"></script>
<% } %>

<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>
<script src="/js/header_updated_n.js"></script>
</body>