<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">
 
    <link rel="stylesheet" href="/css/header_updated_n.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/web.css">
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/footer.css">

    <title>PRYMUS</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <div class="header-main">
            <%- include ('includes/header_updated_n.ejs') %>
        </div>     
    
    <% } %>

<!-- container-1 -->
<div class="web-container-1">
    <div class="data-container">
        <h1>
            It takes about 50 milliseconds (that’s 0.05 seconds) for users to form an opinion about your website that determines whether they like your site or not, whether they’ll <span></span>


        </h1>
    </div>
    <div class="image-container">
        <img src="/images/lids.png" alt="">
    </div>
</div>

<!-- triangle -->
<div class="web-triangle-container">
<div class="web-triangle">
    <h1>how we work?</h1>
</div>
</div>

<!-- container-2 -->

<div class="web-container-2">
    <div class="web-timeline">
        <div class="web-timeline-sub">
            <div class="web-timeline-header">
                <h1 style="margin-left: 4rem;">1. <span style="margin-left: 8rem;">Design the website</span> </h1>
            </div>
            <div class="web-timeline-paragraph">
                <div class="para-color">57% of internet users say they won’t recommend a business with a poorly designed website on mobile

                </div>
                <div class="para-white">Look, colors, functionalities are the most important to the visitors of any website to hook the customers. And our expert website designers are very careful with the feel and message of the brands.
 
                </div>
            </div>
        </div>
        

        <div class="web-timeline-sub">
            <div class="web-timeline-header">
                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Agile Website support system</h1>
            </div>
            <div class="web-timeline-paragraph">
                <div class="para-color">Mobile visitors are 123% more likely to bounce from a mobile website if it takes 10 seconds to load (as opposed to 1 second).


                </div>
                <div class="para-white">The right choice of server can make all the difference. With the CDN, VPS or AWS support you  can budget your server expenditure and yet can decrease the loading time to decrease the bounce rate.

 
                </div>
            </div>
        </div>


        <div class="web-timeline-sub">
            <div class="web-timeline-header">
                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Sitemapping for all search engines</h1>
            </div>
            <div class="web-timeline-paragraph">
                <div class="para-color">Google holds the majority market share of all search engine activity, with 92.07%.


                </div>
                <div class="para-white">The easier it will be for the search engines to read your site, the better are your chances to attract traffic form all searches.
 
 
                </div>
            </div>
        </div>



        <div class="web-timeline-sub">
            <div class="web-timeline-header">
                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Revamping and Maintenance of website</h1>
            </div>
            <div class="web-timeline-paragraph">
                <div class="para-color">38% of people will stop engaging with a website if the content or layout are unattractive


                </div>
                <div class="para-white">Revamping your website offers, right content and right support to handle the increasing traffic is very important. Websites are almost forever but they need trimming now and then. 

 
                </div>
            </div>
        </div>



        <div class="web-timeline-sub">
            <div class="web-timeline-header">
                <h1 style="margin-left: 4rem;">5. <span style="margin-left: 8rem;"></span> Analyze website traffic & customer acquistion</h1>
            </div>
            <div class="web-timeline-paragraph">
                <div class="para-color">88% of online consumers are less likely to return to a site after a bad experience


                </div>
                <div class="para-white">Everybody deserves a second chance, even websites. Integrating websites with right tools as google analytics or hit-counting plugins is a must.


                </div>
            </div>
        </div>


        
 
 
    </div>
</div>


<!-- triangle -->

    <div class="web-triangle" style="background: #000">
        <h1></h1>
    </div>




<!-- conatiner-3 -->

<div class="web-container-3">
    <!-- <div class="web-recent-stories section-30">
        <div><h1>our recent stories.</h1></div>
        <div><p>Discover industry insights and case studies on successful product development, powerful growth marketing tactics, and effective engineering solutions.</p></div>
        <div><a href="#">More Insights</a></div>
    </div>
    <div class="web-insights-1 section-30">
        <div><img src="" alt=""></div>
        <div><p>Insights</p></div>
        <div><h3>9 Successful PWA Examples That May Inspire you</h3></div>
    </div>
    <div class="web-insights-2 section-30">
        <div><img src="" alt=""></div>
        <div><p>Insights</p></div>
        <div><h3>Flutter: 6 Key Questions Answered</h3></div>
    </div> -->
</div>

<!-- container-4 -->
<div class="web-container-4">
    <div class="web-image-container">
        <img src="/images/Picture111111.png" alt="">
    </div>
    <div class="web-connect-us">
        <h1>ready to generate some real sale?</h1>
        <a href="/connect-with-us">Connect-Us</a>
    </div>
</div>

<!-- footer -->


<%- include('footer.ejs') %>
<% if (user) { %>
    <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
    <script src="/socket.io/socket.io.js"></script>
<% } %>

<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>
<script src="/js/header_updated_n.js"></script>

</body>