.footer-container
{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: #000;
}

.footer-part-one{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-part-one p{
    font-size: 2.1rem;
    color: white;
}

.footer-part-two{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-part-two li{
    list-style-type: none;
}



.footer-part-two li a{
    text-decoration: none;
    color: white;
    font-size: 2.1rem;
}


@media (max-width: 1350px){
    .footer-container{
        width: 100%;
        flex-direction: column;
        height: 25vh;
        justify-content: center;
        align-items: center;
        
    }

    .footer-part-one{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-part-one p{
        font-size: 1.6rem;
        color: white;
    }

    .footer-part-two{
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
    }

    .footer-part-two li a{
        font-size: 1.6rem;
    }

    


}

@media (max-width: 750px){

}

